.app {
	/*height: 100%;
	width: 100%;
	background: #e8ebed;
	background: -moz-radial-gradient(center, ellipse cover, #e8ebed 0%, #d5dde4 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #e8ebed 0%,#d5dde4 100%);
	background: radial-gradient(ellipse at center, #e8ebed 0%,#d5dde4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ebed', endColorstr='#d5dde4',GradientType=1 );*/
}