.login {
	text-align: center;
	transition: all ease .5s;
	/* transform: rotateY(180deg); */
	&__main {
		display: inline-block;
    	margin: 15% auto;
    	padding: 1em 0;
    	width: 260px;
    	&_form {
    		position: relative;
    		top: 3em;
    		z-index: 5;
    	}
    	&_input {
    		display: block;
    		margin: 0 1em;
    	}
    	&_triangle {
    		top: 0;
    		left: 0;
    		position: relative;
    		display: inline;
    		triangle: pointing-right;
	    	width: 350px;
	    	height: 600px;
	    	background-color: white;
	    	filter: blur(1px);
    	}
		/* margin: -300px 0 0 -135px; */
		/* position: absolute; */
		/* top: 50%; */
		/* left: 50%; */
		/* z-index: 10; */
		&Under {
			/* triangle: pointing-right;
		    width: 330px;
		    height: 630px;
	        background-color: #f8f8f8;
	        opacity: .7; */
			/* margin: -315px 0 0 -142px;
			position: absolute;
			top: 50%;
			left: 50%; */
			/* z-index: 9; */
		}
	}
	&__back {
		&Blue {
			/* triangle: pointing-left;
		    width: 150px;
	    	height: 300px;
		    background-color: #2a3553; */
		    /* margin: 0; */
			/* position: absolute; */
			/* top: 50%;
			left: 50%; */
			/* z-index: 8; */
		}
	}
}